body{
	margin: 0;
	width:100%;
	height: 100%;
	overflow:  hidden;
}

.cont {
	margin: 2px;
	background: lightgray;
	padding: 2px;
	cursor: pointer;
}

.cont:hover {
	box-shadow: 0 0 5px rgba(0,0,0,1);
}

header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 70px;
	background: darkgray;
	padding: 3px;
}

.left {
	position: absolute;
	top:70px;
	left: 0;
	bottom: 70px;
	background: deepskyblue;
	right: 85%;
	overflow: auto;
}

main {
	position: absolute;
	top:70px;
	right: 10%;
	background: white;
	bottom: 70px;
	left: 15%;
}

.right {
	position: absolute;
	right: 0;
	top: 70px;
	bottom: 70px;
	left: 90%;
	background: deepskyblue;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 70px;
	background: darkgray;
}

overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 2;
}

.form {
	background: black;
	width: 300px;
	height: 200px;
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin-left: -150px;
	margin-bottom: -100px;
	border-radius: 10px;
	box-shadow: 0 0 7px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 7px rgba(255,255,255,.7);
	-o-box-shadow: 0 0 7px rgba(255,255,255,.7);
	-webkit-box-shadow: 0 0 7px rgba(255,255,255,.7);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -85px;
	margin-top: -35px;  
}

.btn {
	width: 172px;
	margin-top: 7px;
}

.openMenu {
	width: 40px;
	height: 40px;
	display: none;
	position: absolute;
	left: 3px;
	top: 7px;
	cursor: pointer;
	
}

.openMenu:hover{
	box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}

.txt {
	border-radius: 5px;
	margin-top: 3px; 
}

.hello {
	position: absolute;
	right:3px;
	font-family: Verdana;
	font-weight: bold;
}

.logout {
	position: absolute;
	bottom: 10px;
	right: 3px;
	background: white;
	border-radius: 5px;
	width: 60px;
	box-shadow:0 0 5px rgba(0,0,0,.5);
	cursor: pointer;
	font-family: Verdana;
	font-weight: bold;
	padding-left: 1.5%;
	display: none;
}

.logout:hover {
	box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}

.spanName {
	font-size: 18px;
	font-weight: bold;
	font-family: Verdana;
}

.spanPos {
	font-size: 10px;
}

@media screen and (max-width: 480px) {
	.hello {
	font-size: 12px;
	}
	
	.logout {
	bottom: 3px;
	font-size:12px;
	width: 30px;
	}
	
	.left {
		display: none;
	}

	.right {
		display: none;
	}

	header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
	z-index: 2;
	}

	footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50px;
	z-index: 2;
	}

	.leftHide {
	top:55px;
	right: 0;
	background: deepskyblue;
	height: 250px;
	left: 0;
	z-index: 1;
	display: block;
	}

	main {
	top:55px;
	right: 0;
	background: white;
	height: 500px;
	left: 0;
	}

	.rightHide {
	top:305px;
	right: 0;
	background: deepskyblue;
	height: 250px;
	left: 0;
	z-index: 1;
	display: block;
	}

	overlay {
	position: fixed;
	height: 100%;
	right: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 3;
	}

	.openMenu {
	display: block;
	}
}